/*Colors*/

/*Navigation*/



.mainMenu {
    min-width: 80%;
    
}

.topnav {
    margin-bottom: 0px;
}


.games {
    height: 110px;
}

.resume {
    height: 110px;
}

.tribtncol {
    width: -50px;
    padding: 0;
    text-align: center;

}

.tribtn {
    border-top: 50px;
    border-left-width: 50px;
    border: 101px solid transparent;
    border-bottom-color: grey;
    border-right-width: 50px;
    border-left-width: 50px;

    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 64px;
    padding-right: 64px;
    width: 160px;
    height: 0;

    position: relative;
    top: -125px;
    background: none;
    

}

.tribtn:after {
    content: '';
    position: absolute;
    left: -50px;
    top: 100px;

    width: 160px;
    height: 0;
    border: 100px solid transparent;
    border-right-width: 50px;
    border-left-width: 50px;
    border-top-color: grey;
    padding-bottom: 20px;
    padding-left: 64px;
    padding-right: 64px;
     background: none;
   
}

.searchbar {
    text-align: center;
    
}



/*divs*/
.content-box {
    margin-bottom: 0px;
}

.placeholder {
    width:100%;
    height: 578px;
    color: #fff;
    display: block;
    margin-bottom: 0px;
    margin-top: 0px;
}

.footer {
    background-color: black;
    margin-bottom: 0px;
    margin-top: 0px;
}

/*Map*/

#map {
    height: 100%;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

div#map {
    min-height: 360px;
}
